/* ScrollBars */
::-webkit-scrollbar {
    width: 5px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: #dfcfa0;
  }

  

body{
    background-color: #222222;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/*  Header  */
.header{
    grid-column: 1/3;
    min-height: 12vh;
    background-color: #000;
    border-bottom: 1px solid #393939;
    padding: 0 30px;
    display: flex;
    position: relative;
}
.header img{
    height: 10vh;
}

.header h1{
    color: #e9e9e9;
    font-weight: 600;
    font-size: 30px;
}
.header .logo{
    display: flex;
}
.header .search{
    align-self: center;
    position: absolute;
    right: 10px;
}

.header .search .search-input{
    padding: 10px;
    border: 1px solid #393939;
    outline: none;
    border-radius: 5px;
    position: relative;
    width: 500px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.header .search .search-input:focus{
    border: 1px solid #ffc107;
}

.header .search #get-stats{
    height: 100%;
    margin: 0;
    position: absolute;    
    right: 0;
    border: 1px solid #393939;
    outline: none;
    padding: 0 15px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffc107;
}

/* Sidebar */
.sidebar{
    /* background-color: red; */
    border-right: 1px solid #393939;
   
}

.container .sidebar{
    max-height: 90vh;
    position: sticky;
    top: 10px;
}

.sidebar .dp{
    margin: auto;
    width: 80%;
    margin-top: 30px;
}
.sidebar .dp img{
    width: 100%;
    border-radius: 5px;
}
.sidebar .dp h2{
    text-align: center;
    margin: 0;
    color: #aab46d;
    font-family: monospace;
    padding: 10px;
}
.sidebar .dp p{
    color: #fff;
    line-height: 2;
    font-size: 16px;
}
.sidebar .dp p.date{
    color: #ffc107;
    font-size: 13px;
    float: right;
}

.sidebar .social-links {
    /* background-color: orange; */
    min-height: 30vh;
    width: 80%;
    margin: 20px auto auto;
    font-size: 20px;
    color: #ffc107;
    display: flex;
    flex-direction: column;
    
}
.sidebar .social-links p{
    margin: 10px;
}



.sidebar .social-links a{
    color: #ffc107;
    text-decoration: none;
}
.sidebar .social-links a:hover{
    color: #ffc107;
    text-decoration: underline;
}

/* Main  */
.main{
    min-height: 88vh;
    background-color: #000;
    
}

.main .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin: 20px;
}

.main .box-container .box{
    grid-column: auto;
    height: auto;
    background-color: #222222;
    border-radius: 5px;
    border: 1px solid #393939;
}

.main .box-container .box h1{
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #393939;
    
}
.main .box-container .box p {
    font-size: 35px;
    padding: 0;
    margin: 10px;
    text-align: center;
    color: #ffc107;
}


.main .heading{
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    color: #79afce;
    text-align: center;
    font-family: sans-serif;

}
.main .heading h1{
    margin: 0;
    padding: 0;
}
.main .repo-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 20px;
}

#link{
    text-decoration: none;
    color: rgb(26, 180, 173);
}

.main .repo-container .repo {
    grid-column: auto;
    height: 90%;
    background-color: #222222;
    border-radius: 5px;
    border: 1px solid #393939;
    padding: 0 20px 10px;
    position: relative;

}

.main .repo-container .repo h1{
    color: rgb(26, 180, 173);
    font-weight: 200;
    font-family: sans-serif;
    font-size: 20px;
}

.favorite{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.main .repo-container .repo p{
    color: rgba(250,250,250, .5);
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5;
    padding-bottom: 20px;
}


.main .repo-container .repo .stats{
    position: absolute;
    bottom: 10px;
    color: #4dbadb;
}

.main .repo-container .repo .stats em{
    color: rgb(163, 135, 228);

}

.btn{
    padding: 10px 25px;
    font-size: 20px;
    border: 1px solid #ffc107;
    border-radius: 10px;
    background-color: transparent;
    color: #ffc107;
    cursor: pointer;
    outline: none;
}




.main .footer{
    margin-top: 200px;
    text-align: center;
    color: #e9e9e9;
    font-family: monospace;
    
}
.main .footer p a{
    text-decoration: none;
    color: #ffc107;
}






@media(max-width: 860px){
    .sidebar{
        grid-column: 1/3;
    }
    .container .sidebar{
        max-height: fit-content;
        position: relative;
    }
    
    .main{
        grid-column: 1/3;
    }
    .main .box-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin: 20px;
        row-gap: 10px;
    }
    .main .box-container .box h1{
        font-size: 21px;
    }
    .main .repo-container{
        grid-template-columns: 1fr;
    }

    .container .header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .container .header .logo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .container .header .search{
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
    }
    .header .search .search-input{
        width: 100%;
    }
    .header .search #get-stats{
        position: absolute;
        top: 0;
        right: -20px;
    }
}